## 뉴스 기사 CSV 병합하기
* 용량이 커 Jupyer notebook에서 작업하였습니다.

In [ ]:
# 현재 작업 디렉토리 확인
import os
print(os.getcwd())

# 현재 작업 디렉토리에 파일이 있는지 확인
os.listdir()

/Users/sopung/Desktop/hankyung_crawler

['hankyung_news',
 'csv병합.ipynb',
 '.DS_Store',
 'mk.csv',
 'han.csv',
 'processed_call_rate.csv',
 '.ipynb_checkpoints',
 'edaily.csv',
 'hankyung_crawler']

## 뉴스 기사 데이터, 콜금리 변동 데이터 로드

In [ ]:
import pandas as pd

# CSV 파일 불러오기
df_han = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/han.csv')
df_edaily = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/edaily.csv')
df_mk = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/mk.csv')
df_call_rate = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/processed_call_rate.csv')  # processed_call_rate.csv 불러오기

In [ ]:
# df_han에는 url이 있기때문에 drop해야합니다
df_han

,date,url,content
0,2005.03.10,https://www.hankyung.com/article/2005030994811,산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...
1,2005.03.10,https://www.hankyung.com/article/2005030998281,채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...
2,2005.03.10,https://www.hankyung.com/article/2005030997551,< 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...
3,2005.03.10,https://www.hankyung.com/article/2005030981866,피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...
4,2005.03.10,https://www.hankyung.com/article/2005030994021,'헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...
...,...,...,...
104433,2024.07.11,https://www.hankyung.com/article/2024052400166,사진=AFP\n \n ...
104434,2024.07.11,https://www.hankyung.com/article/202405240081i,AI(인공지능) 반도체 대표주자 엔비디아 주가가 23일(현지시간) 9.32% 올랐다...
104435,2024.07.11,https://www.hankyung.com/article/202405249989i,영상 모듈 닫기\n \n ...
104436,2024.07.11,https://www.hankyung.com/article/2024052401596,젠슨 황 엔비디아 최고경영자(CEO)가 지난달 18일(현지시간) 미국 캘리포니아주 ...
104437,2024.07.11,https://www.hankyung.com/article/2024052499537,"◆ 고금리 장기화 우려에…다우지수, 1년 2개월 만에 최대 낙폭인공지능(AI) 칩 ..."

In [ ]:
df_edaily

            date                                            content
0       20050215  [edaily 최현석기자] 재정경제부는 14일 국채발행 규모를 제한해 저금리 기조 ...
1       20050310  [edaily 최현석기자] 환율이 사흘연속 하락하며 세자리에 바짝 다가섰다.\r\n...
2       20050310  [edaily 권소현기자] 종합주가지수가 1000포인트를 들락날락 하면서 네자리수를...
3       20050310  [edaily 김수연기자] 인터넷금융 평가회사인 스톡피아는 2005년 인터넷뱅킹 서...
4       20050310  [edaily 최현석기자] 환율이 달러약세 영향으로 사흘째 하락세를 이어가고 있다....
...          ...                                                ...
177091  20230223  [이데일리 이윤화 기자] 서울시가 올해부터 아파트 입주예정물량과 사업리스트를 상·하...
177092  20221124  [이데일리 이정현 기자] 은 이달 11일까지 개인투자자가 온라인으로 매수한 채권 규...
177093  20221124  [이데일리 이연호 기자] 금융당국이 채권시장안정펀드(채안펀드)를 통해 3주간 1조원...
177094  20230223  [이데일리 이은정 기자] 뉴욕 증시가 ‘대통령의 날’로 휴장한 가운데 유럽 증시는 ...
177095  20221124  [이데일리 이윤화 기자] 지난달 외국인들이 국내 주식, 채권시장에서 총 22억900...

[177096 rows x 2 columns]

In [ ]:
df_mk

              date                                            content
0       2005-02-15  내전으로 폐허가 된  레바논의  재건사업을 진두지휘했던 라피크 하리리(60) 전(前...
1       2005-02-15  ========================================    주가...
2       2005-02-15  다음달 5.5대 1 감자를 앞두고 있는 LG카드가 급등했다.     14일 유가증권...
3       2005-02-15  "지수 1000선 넘을 수 있을까."     종합주가지수가 5년래 최고 수준으로 치...
4       2005-02-15  ◆달아오른 증시 960 훌쩍◆     14일 주가가 급등한 배경은 무엇보다 수급 상...
...            ...                                                ...
113579  2024-07-11  사진 확대      중산층이 겪는 경제적 어려움을 짚은 '위기의 중산층' 기획기사를...
113580  2024-07-11  사진 확대    [사진 출처 = 연합뉴스]  서울 아파트 전세난이 월세난으로 확대되...
113581  2024-07-11  사진 확대    제롬 파월 미국 연방준비제도(Fed·연준) 의장   美 4월 PCE...
113582  2024-07-11  사진 확대    [사진 출처 = 연합뉴스]  올해 1분기(1~3월) 중산층 가구 5...
113583  2024-07-11  사진 확대    정부가 26조원 규모의 반도체 산업 진흥 방안을 발표한 가운데 삼성...

[113584 rows x 2 columns]

In [ ]:
df_call_rate

         date  call_rate  rate_change
0    20050215       3.26            0
1    20050310       3.24            0
2    20050407       3.25            0
3    20050512       3.29            0
4    20050609       3.27            0
..        ...        ...          ...
226  20240111       3.64            0
228  20240222       3.58            1
229  20240412       3.47            2
231  20240523       3.53            0
232  20240711       3.55            0

[205 rows x 3 columns]

In [ ]:
import pandas as pd

# 'url' 열 제거
df_han = df_han.drop(columns=['url'])

# 결과 확인
print(df_han.head())

         date                                            content
0  2005.03.10  산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...
1  2005.03.10  채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...
2  2005.03.10  < 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...
3  2005.03.10  피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...
4  2005.03.10  '헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...

## 데이터 프레임 형식 맞추기 및 병합

In [ ]:
# 날짜 형식 처리 함수 정의
def process_date(df, date_column, current_format):
    # 날짜 열을 문자열로 변환
    df[date_column] = df[date_column].astype(str)

    # 이미 YYYYMMDD 형식인지 확인
    if df[date_column].str.match(r'^\d{8}$').all():
        return df
    else:
        df[date_column] = pd.to_datetime(df[date_column], format=current_format).dt.strftime('%Y%m%d')
        return df

# df_han: YYYY.MM.DD -> YYYYMMDD
df_han = process_date(df_han, 'date', '%Y.%m.%d')

# df_edaily: YYYY-MM-DD -> YYYYMMDD
df_edaily = process_date(df_edaily, 'date', '%Y-%m-%d')

# df_mk: YYYYMMDD 형식이라면 변환 필요 없음
df_mk = process_date(df_mk, 'date', '%Y%m%d')

# df_call_rate: YYYYMMDD 형식이라면 변환 필요 없음
df_call_rate = process_date(df_call_rate, 'date', '%Y.%m.%d')

# 데이터프레임 합치기
df_combined = pd.concat([df_han, df_edaily, df_mk], ignore_index=True)

# 결과 확인
print(df_combined.head())

/var/folders/jm/t447cbrj0rv_y73nfrlz2_fr0000gn/T/ipykernel_59332/344270926.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = df[date_column].astype(str)

       date                                            content
0  20050310  산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...
1  20050310  채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...
2  20050310  < 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...
3  20050310  피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...
4  20050310  '헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...

In [ ]:
# df_combined의 총 길이 확인
length = len(df_combined)
print(f"df_combined의 총 길이: {length}")

df_combined의 총 길이: 395118

In [ ]:
# 날짜 형식이 YYYYMMDD가 아닌 행을 골라내기
df_combined['date'] = df_combined['date'].astype(str)  # Ensure date column is string
incorrect_date_format = ~df_combined['date'].str.match(r'^\d{8}$')

# 날짜 형식이 잘못된 데이터프레임
df_incorrect_dates = df_combined[incorrect_date_format]

# 결과 확인
print(f"형식이 잘못된 날짜를 가진 행의 수: {len(df_incorrect_dates)}")
print(df_incorrect_dates.head())

형식이 잘못된 날짜를 가진 행의 수: 0
Empty DataFrame
Columns: [date, content]
Index: []

In [ ]:
# 중복된 date 값 처리
df_call_rate = df_call_rate.drop_duplicates(subset='date', keep='first')

# 데이터프레임 합치기
df_combined = pd.concat([df_han, df_edaily, df_mk], ignore_index=True)

# 날짜를 기준으로 정렬
df_combined.sort_values(by='date', inplace=True)

# processed_call_rate의 rate_change 값을 df_combined에 추가
df_combined = df_combined.merge(df_call_rate[['date', 'rate_change']], on='date', how='left')

# 결과 확인
print(f"df_combined의 총 길이: {len(df_combined)}")
print(df_combined.head())

df_combined의 총 길이: 395118
       date                                            content  rate_change
0  20050215  [edaily 이승우기자] 설 연휴를 마친 채권시장은 여전히 불안한 모습을 보이며 ...          0.0
1  20050215  별다른 소득이 없는 은퇴생활자라면 자금을 어떻게 운용하는 게 좋을까. 매월    1...          0.0
2  20050215  상가를 임대하고 받는 보증금 수입에  대해서는 세금이 부과되지만 주택 전세금이나 임...          0.0
3  20050215  ▲경향신문 = 설민심 제대로 보고 들어라 /                  '새만금...          0.0
4  20050215  ▲경향신문(서울) = 중산층 지갑도 열린다     ▲국민일보(서울) = 경기 꿈틀…...          0.0

In [ ]:
df_combined

,date,content,rate_change
0,20050215,[edaily 이승우기자] 설 연휴를 마친 채권시장은 여전히 불안한 모습을 보이며 ...,0.0
1,20050215,별다른 소득이 없는 은퇴생활자라면 자금을 어떻게 운용하는 게 좋을까. 매월 1...,0.0
2,20050215,상가를 임대하고 받는 보증금 수입에 대해서는 세금이 부과되지만 주택 전세금이나 임...,0.0
3,20050215,▲경향신문 = 설민심 제대로 보고 들어라 / '새만금...,0.0
4,20050215,▲경향신문(서울) = 중산층 지갑도 열린다 ▲국민일보(서울) = 경기 꿈틀…...,0.0
...,...,...,...
395113,20240711,[이데일리 이주영 기자] 로레타 메스터 클리브랜드 연방준비은행(연은) 총재는 14일...,0.0
395114,20240711,[이데일리 이주영 기자] 인플레이션 지표 영향이 이어지며 미국의 국채수익률이 여전히...,0.0
395115,20240711,[이데일리 마켓in 박미경 기자] BBB급 중견건설사 HL D&I가 회사채 발행을 ...,0.0
395116,20240711,[이데일리 이윤화 기자] 입주를 한 달 앞둔 서울 성북구의 안암2구역 재개발 사업지...,0.0
395117,20240711,사진 확대 정부가 26조원 규모의 반도체 산업 진흥 방안을 발표한 가운데 삼성...,0.0

In [ ]:
# 0 변동없음, 1 금리인상, 2금리인하
value_counts = df_combined['rate_change'].value_counts().sort_index()
print(value_counts)

rate_change
0.0    286530
1.0     73018
2.0     34323
Name: count, dtype: int64

In [ ]:
# content에 na가 895개, rate_change에 1247개 있습니다.
df_combined.isna().sum()

date              0
content         895
rate_change    1247
dtype: int64